@charset "UTF-8";

@font-face {
  font-family: raleway;
  font-display: swap;
  src: url("../fonts/raleway-100.woff2") format("woff2"), url("../fonts/raleway-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  font-display: swap;
  src: url("../fonts/raleway-300.woff2") format("woff2"), url("../fonts/raleway-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "raleway";
  font-size: calc(var(--index) * 0.8);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 36;
  --depth: 4000px;
  --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

body {
  height: var(--depth);
  background-color: #000;
  font-weight: 300;
  color: #fff;
  line-height: 1.75;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.gallery {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.title {
  font-size: calc(var(--index) * 3.3);
  font-weight: 100;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
  text-transform: uppercase;
}

.title_s {
  font-size: calc(var(--index) * 3);
}

.text {
  max-width: 30vw;
  margin-top: 5vh;
}

.text-right > * {
  text-align: left;
  position: relative;
  left: 18vw;
}

.text-left > * {
  text-align: left;
  position: relative;
  right: 18vw;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition), opacity 0.75s ease;
  -o-transition: var(--transition), opacity 0.75s ease;
  transition: var(--transition), opacity 0.75s ease;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.frame_bg {
  background-color: rgba(0, 0, 0, 0.87);
}

.frame-media {
  position: relative;
  width: calc(var(--index) * var(--side-small));
  height: calc(var(--index) * var(--side-big));
  background-position: center;
  background-size: cover;
}

.frame-media_left {
  right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.frame-media_right {
  left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

video.frame-media {
  width: calc(var(--index) * var(--side-big));
  height: calc(var(--index) * var(--side-small));
}

video.frame-media_right {
  left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

video.frame-media_left {
  right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

.sound-button {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 25px;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.sound-button.paused {
  opacity: 0.25;
}